// FORM ELEMENT

* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1.2px !important;
  font-weight: 300;
}

body {
  font-weight: 200;
  letter-spacing: 1px;
  background: #ffffff;
	color:#4a4a4a !important;
}

input, textarea {
  border-radius:0 !important;
  padding: 10px;
}

a.show {
	text-decoration: none;
	display: inline-block !important;
	margin-top: 10px;
	padding: 6px 10px;
	background: $biru;
	color:#fff;
	@include transition-duration(.5s);

	&:hover {
		background: darken($biru, 8%);
	}
}

#showslide {
  padding: 120px 0 40px 0 ;
}

// -----------------------------------------------------------------------------
#menu-resv{
  width: 100%;
  background-color: $biru;
}

.overlay {
  ul {
    list-style-type: none;
    padding: 0;
  }
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0;

  overflow-x: hidden;
  a {
    padding: 10px;
    font-weight: 200;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 3px !important;
    color: #818181;
    display: block; /* Display block instead of inline */
    // transition: 0.5s; /* Transition effects on hover (color) */
    @include transition-duration(.3s);
    &:hover{
      color:#f3ca0a !important;
    }
  }
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 15%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  // margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  // padding: 8px;
  color : #fff;
}

 /* When you mouse over the navigation links, change their color */

.overlay a:hover, .overlay a:focus {
  color: #828484;

}
/* Position the close button (top right corner) */

.overlay .closebtn {
  position: absolute;
  top: -2px;
  right: 27px;
}

#cls-resv{
  position: absolute;
  right: 20px;
  top: 15px;
  width: 40px;
  height: 40px;

  span {
    text-align: center;
    display: block;
    top: -8px;
    left: 1px;
    position: relative;
    font-size: 2.5em!important;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
  }
}


#about, #service, #clients , #our-team, #events {
  padding: 50px 0 !important;
}

h1{
  margin:0 0 20px 0;
}

h1,h2,h3{
  font-weight: 300;
  margin: 0 0 5px 0;
}

.title {
  // font-weight: 400;
  margin-bottom : 30px;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 3px !important;
  color:$biru;
}

.animate{
  transition: all 0.5s;
}
.logo {
  position : absolute;
  top:15px;
  display: inline-block;
  @include transition(all .5s);
}

#about, #service, #client, #our-team, #contact, footer {
  padding: 30px 0;
}

header {
  @include transition(all .5s);
  box-shadow: 0 1px 6px 0 #818181;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background: #fff;
  border-bottom:6px solid darken($biru,0%);

  a {
  	// font-family: 'Titillium Web', sans-serif;
    // font-size: 1.1em !important;
    float: none;
    display : block;
    // font-weight:400;
    letter-spacing: 2px !important;
    
    @include transition-duration(.5s);
    color : darken($biru,5%) !important;
    background:none !important;

    &:hover {
      background : $biru !important;
      color : white !important;
    }
  }
  .navbar {
    margin-bottom:0;
    border : none;
  }
}

.large {
  .logo img {
    max-width: 250px;
  }
  .navbar li a {
    padding: 30px 15px;
    font-size: 15px;
  }
}

.small {
  .logo img {
    max-width: 190px;
  }
  .navbar li a {
    padding: 20px 15px !important;
    font-size: 15px;
  }
}

// ABOUT
#about {
  background: #eaeaea;

  padding: 50px 0 0 0;
  img {
    width : 100%
  }
}
// -----------------------------------------------------------------------------


// SERVICE
#service {
  .list-service {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
  } 
  
  .service-item {
    width: 30%;
    letter-spacing: 1.5px;
    color : #8e8e8e;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid #eaeaea;
    height: 10px;
    margin: 8px;
    @include transition-duration(.5s);
    &:hover {
      background: #f3ca0a;
      color: #fff;
      border: 1px solid $kuning;
    }
    a {
      color: inherit;
    }
  }
}

// -----------------------------------------------------------------------------


//CLIENT
#client {
  background: #eaeaea;

  ul#list-client {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;

    padding: 0;
    li {
      list-style: none;
      margin: 5px;
      display: inline-block;
    }
  }

  img {
    width: 120px;
    height: auto;
    @include transition-duration(.5s);
    opacity: 0.7;

    &:hover{
      opacity: 1;
    }
  }
}
// -----------------------------------------------------------------------------


// TEAM
#our-team {
  ul#list-team {
    display: flex;
    flex-direction:row;
    justify-content:center;
    flex-wrap:wrap;
    padding: 0;
    li.team {
      text-align: center;
      width: 25%;
      list-style: none;
      margin-bottom: 20px;
    }
  }

  .name {
    display: block;
    font-weight: 400;
  }

  .job {
    display: block;
  }


  .img-team {
    opacity: .7;
    max-width: 120px;
    margin-bottom: 10px;
    border: 1px solid #e2e2e2;
    @include transition-duration(.5s);
    &:hover {
      opacity: 1;
    }
  }
}
// -----------------------------------------------------------------------------


//SOCIAL MEDIA
label {
  font-weight: 500 !important;
}
// -----------------------------------------------------------------------------


//EVENTS
#events {
  margin-top: 80px;
  ul#list-event {

    padding: 0;
    display: block;

    li.event-item {
      list-style: none;
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      margin-bottom: 10px;
      height: 100%;

      a {
        text-decoration: none;
        background: darken($biru,10%);
        color: #fff;
        display: block;
        padding: 12px;
        height: 100%;
        @include transition-duration(.5s);

        &:hover {
          background: darken($biru,25%);
        }

        &:visited {
          text-decoration: none;
        }
      }

      span.date {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        background: #039adf;
        padding: 8px;
        text-align: center;
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      span.tanggal{
        display: block;
      }
      
      span.title {
        font-size: 1.2em;
        display: block;
        margin: 0;
        width: 100%;
      }
    }
  }
}
// -----------------------------------------------------------------------------


//CONTACT
#contact {
	background: #232323;
  color: #a7a7a7a7 !important;

  h3{
    font-size: 1.3em;
    letter-spacing: 2px !important;
    color:$biru;
  }

  ul.sosmed {
    padding: 0;
    margin: 10px 0;
    display: inline-block;

    li {
      list-style: none;
      float: left;
      padding-right: 10px;

      img {
        @include transition-duration(.5s);
        opacity: .6;
        width: 35px;

        &:hover{
          opacity: 1;
        }
      }
    }
  }
}
// -----------------------------------------------------------------------------


//FOOTER
footer{
  background: #272727;
  font-size: 12px;
}

// -----------------------------------------------------------------------------


@media only screen and (max-width : 720px) {
  #gallery-1 .gallery-item {
    width: 100% !important; 
  }

  li.team {
    width:50% !important;
  }
  #events {
    span.date {
      width: 50% !important;
    }
    span.title {
      font-size: 1em !important;
    }
  }
  #client {
    ul {
      li {
        img {
          max-width: 80px;
        }
      }
    }
  }

  ul.sosmed {
    margin-bottom: 30px;
  }
  #about {
    text-align: center;
    img {
      margin-bottom: 20px;
    }
  }
  #contact {
    text-align: center;
    #sosmed {
      text-align: center;
      display: inline-block;
    }
    #map {
      padding: 0 !important;
    }
  }

  .service-item {
  	width: 100% !important;
  	margin: 0 !important;

  	border-bottom: none !important;

  	&:last-child {
  		border-bottom: solid 1px #e3e3e3 !important;	
  	}

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // padding: 10px;
    h4 {
      font-size: .7em;
    }
  }

  header {
    height: 75px !important;
    position:fixed;
    width: 100%;
    z-index: 9999;
    .logo {
      img {
        max-width: 200px !important;
        height: auto !important;
        position: absolute;
        top: 0;
      }
    }
  }

  #btn-resv{
    position: fixed;
    top: 15px;
    right: 20px;
    background: #43b8ff;
    color: #fff;
    padding: 20px;
    border-radius: 100%;
    z-index: 99999 !important;
    width: 20px;
    height: 20px;
    z-index: 90;
    box-shadow: 0 0 10px 1px rgb(108, 108, 108);
    span {
      font-size: 20px;
      display: block!important;
      top: -10px;
      right: 10px;
      cursor: pointer;
    }
  }

  nav {
    ul {
      display: none;
    }
  }
}
